<div class="row">
  <!-- Order Table table start    -->
    <div class="col-lg-12">
        <section class="panel box_shadow">
            <header class="panel-heading">
                Orders
            </header>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><i class="icon_profile"></i> Oreder ID</th>
                    <th><i class="icon_mail_alt"></i> Customer Phone</th>
                    <th><i class="icon_cogs"></i> Vendor Shopname</th>
                    <th><i class="icon_cogs"></i> Status</th>
                    <th><i class="icon_cogs"></i> View Detail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>321</td>
                    <td>98472482323</td>
                    <td>Lovely Sweet Shop</td>
                    <td class="text-center"><span class="label label-info">Pending</span></td>
                    <td class="text-center">
                      <div class="btn-group">
                            <a class="btn  btn-success btn-sm" (click)="commonService.nav('viewdetail')"><span class="icon_house_alt"></span> <strong>View</strong></a>
                      </div>
                    </td>   
                  </tr>
                  <tr>
                    <td>321</td>
                    <td>98472482323</td>
                    <td>Lovely Sweet Shop</td>
                    <td class="text-center"><span class="label label-info">Pending</span></td>
                    <td class="text-center">
                      <div class="btn-group">
                            <a class="btn  btn-success btn-sm" (click)="commonService.nav('viewdetail')"><span class="icon_house_alt"></span> <strong>View</strong></a>
                      </div>
                    </td>   
                  </tr>
                  <tr>
                    <td>321</td>
                    <td>98472482323</td>
                    <td>Lovely Sweet Shop</td>
                    <td class="text-center"><span class="label label-info">Pending</span></td>
                    <td class="text-center">
                      <div class="btn-group">
                            <a class="btn  btn-success btn-sm" (click)="commonService.nav('orderdetails')"><span class="icon_house_alt"></span> <strong>View</strong></a>
                      </div>
                    </td>   
                  </tr>
                  <tr>
                    <td>321</td>
                    <td>98472482323</td>
                    <td>Lovely Sweet Shop</td>
                    <td class="text-center"><span class="label label-info">Pending</span></td>
                    <td class="text-center">
                      <div class="btn-group">
                            <a class="btn  btn-success btn-sm" (click)="commonService.nav('viewdetail')"><span class="icon_house_alt"></span> <strong>View</strong></a>
                      </div>
                    </td>   
                  </tr>
                </tbody>
              </table>
            </div>

        </section>
    </div>
  <!-- end of Order table start    -->                 
</div>