<!-- User Edit Form  -->
  <div class="row">
      <div class="col-lg-12">
          <section class="panel box_shadow">
              <header class="panel-heading">
                 User Edit Form
              </header>
              <div class="panel-body">
                  <div class="form">
                      <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                          <div class="form-group ">
                              <label for="username" class="control-label col-lg-2">Username <span class="required">*</span></label>
                              <div class="col-lg-10">
                                  <input class="form-control " id="username" name="username" type="text" />
                              </div>
                          </div>
                          <div class="form-group ">
                              <label for="address" class="control-label col-lg-2">Address</label>
                              <div class="col-lg-10">
                                  <textarea class="form-control " id="address" name="address" required></textarea>
                              </div>
                          </div>
                          <div class="form-group ">
                              <label for="password" class="control-label col-lg-2">Phone <span class="required">*</span></label>
                              <div class="col-lg-10">
                                  <input class="form-control " id="Phone" name="Phone" type="text" />
                              </div>
                          </div>
                          <div class="form-group ">
                              <label for="shopName" class="control-label col-lg-2">Shop Name <span class="required">*</span></label>
                              <div class="col-lg-10">
                                  <input class="form-control " id="shopName" name="shopName" type="text" />
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <div class="col-lg-offset-2 col-lg-10">
                                  <button class="btn btn-primary" type="submit">Save</button>
                                  <button class="btn btn-default" type="button">Cancel</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </section>
      </div>
  </div>
<!-- User Edit Form  -->