<div class="row">
                <!-- Order Table table start    -->
                  <div class="col-lg-12">
                      <section class="panel box_shadow">
                          <header class="panel-heading">
                              Orders
                          </header>
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th><i class="icon_profile"></i> Customer Name</th>
                                  <th><i class="icon_mail_alt"></i> Customer Address</th>
                                  <th><i class="icon_cogs"></i> Customer Phone</th>
                                  <th><i class="icon_cogs"></i> Pickup Schedule</th>
                                  <th><i class="icon_cogs"></i> Vender Phone</th>
                                  <th><i class="icon_cogs"></i> Vender Shop Name</th>
                                  <th><i class="icon_cogs"></i> Vender Address</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>MUnish Kumar</td>
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>
                                  <td>9876543210</td>
                                  <td>9-12-2101</td>   
                                  <td>9876543210</td>   
                                  <td>Lovely Sweet Shop</td>   
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>   
                                </tr>
                                <tr>
                                  <td>MUnish Kumar</td>
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>
                                  <td>9876543210</td>
                                  <td>9-12-2101</td>   
                                  <td>9876543210</td>   
                                  <td>Lovely Sweet Shop</td>   
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>   
                                </tr>
                                <tr>
                                  <td>MUnish Kumar</td>
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>
                                  <td>9876543210</td>
                                  <td>9-12-2101</td>   
                                  <td>9876543210</td>   
                                  <td>Lovely Sweet Shop</td>   
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>   
                                </tr>
                                <tr>
                                  <td>MUnish Kumar</td>
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>
                                  <td>9876543210</td>
                                  <td>9-12-2101</td>   
                                  <td>9876543210</td>   
                                  <td>Lovely Sweet Shop</td>   
                                  <td>
                                      Vill.Sulehrian Khurd, P.O.Tanda Ram Sahai, Teh.Mukerian, Distt.HSP
                                  </td>   
                                </tr>
                              </tbody>
                            </table>
                          </div>

                      </section>
                  </div>
                <!-- end of Order table start    -->                 
              </div>